{% include "header.html" %}
<title>HireMe Admin | Applications</title>
<style>
  #ni3 {
    background-color: #edfdf6;
    font-weight: bold;
  }

  #nl3 {
    border-left: 5px Solid #27695F;
  }
</style>

<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">HireMe Admin | Applications</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2  align-items-right">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="searchInput" name="searchorders" class="form-control search-orders"
                      placeholder="Search">
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">
                <button class="btn my-btn"
                  onclick="downloadCSV()">
                  <i style="font-weight: bold;" class="bi bi-download"></i>
                  Download CSV
                </button>
              </div>
              <div class="col-auto">
                <button  class="btn my-btn"
                  onclick="downloadPDF()">
                  <i style="font-weight: bold;" class="bi bi-download"></i>
                  Download PDF
                </button>
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->

      <!-- Table -->
      <table class="table" id="dataTable">
        <thead>
          <tr>
            <th scope="col">Sr.No.</th>
            <th scope="col">Application ID</th>
            <th scope="col">Job ID</th>
            <th scope="col">Applicant Email</th>
            <th scope="col">Applied Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% set sr = namespace(no = 1) %}
          {% for apl in apl %}
          <tr>
            <th scope="row">{{ sr.no }}</th>
            <td>{{ apl['aplid'] }}</td>
            <td>{{ apl['jid'] }}</td>
            <td>{{ apl['email'] }}</td>
            <td>{{ apl['apldate'].strftime('%d-%m-%Y') }}</td>
            <td>{{ apl['aplstatus'] }}</td>
            <td>
              <form action="/application/details" method="POST">
                <input type="hidden" name="aplid" value="{{ apl['aplid'] }}">
                <input type="hidden" name="jid" value="{{ apl['jid'] }}">
                <input type="hidden" name="email" value="{{ apl['email'] }}">
                <input type="hidden" name="func" value="none">
                <button class="btn my-btn"
                  type="submit">More Details</button>
              </form>
            </td>
          </tr>
          {% set sr.no = sr.no + 1 %}
          {% endfor %}
        </tbody>
      </table>
      <!-- Table Close -->
    </div><!--//container-fluid-->
  </div><!--//app-content-->

  {% include "footer.html" %}